<div class="container">
    <app-movie-info-card class="movieCard" [movieInfoData]="movieInfoOne"></app-movie-info-card>
    <app-movie-info-card class="movieCard" [movieInfoData]="movieInfoTwo"></app-movie-info-card>
    <app-movie-info-card class="movieCard" [movieInfoData]="movieInfoThree"></app-movie-info-card>
    <app-movie-info-card class="movieCard" [movieInfoData]="movieInfoFour"></app-movie-info-card>
    <app-movie-info-card class="movieCard" [movieInfoData]="movieInfoFive"></app-movie-info-card>
</div>