<div class="container">
    <div>
        <h3 class="heading">{{ cardData.planName }}</h3>
        <p class="description">{{ cardData.planDescription }}</p>
        <p><span class="price">${{ cardData.planPrice }}</span> /month</p>
    </div>
    <div class="buttonsContainer">
        <div class="button">
            <app-simple-button class="buttonComponent" [buttonData]="buttonOne"></app-simple-button>
        </div>
        <div class="button">
            <app-colored-button class="buttonComponent" [buttonData]="buttonTwo"></app-colored-button>
        </div>
    </div>
</div>