.container{
    padding: 6%;
    width: 100%;
    background-color: var(--black-10);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

.button{
    width: 44%;
    height: 100%;
}

.buttonComponent{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.heading{
    font-family: Manrope-Bold;
    font-size: 24px;
    color: var(--white);
    margin: 0%;
    height: 16%;
}

.price{
    font-family: Manrope-SemiBold;
    font-size: 36px;
    color: var(--white);
    margin: 0%;
    height: 18%;
}

.description{
    height: 80px;
}