.section{
    width: 100%;
    padding: 0% var(--side-padding);
    box-sizing: border-box;
}

.container{
    padding: 0% var(--side-padding);
    margin-top: 6%;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.classificationCard{
    width: 18%;
}

.subSectionHeading{
    font-family: Manrope-Bold;
    font-size: 38px;
    color: var(--white);
}

.infoCardsContainer{
    width: 100%;
}