<div class="section">
    <div>

    </div>
    <div class="movieSubSection">
        <h2 class="subSectionHeading">Genres</h2>
        <div class="contentContainer">
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataOne"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataTwo"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataThree"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataFour"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataFive"></app-movie-classification-card>
        </div>
    </div>
    <div class="movieSubSection">
        <h2 class="subSectionHeading">Popular Genres</h2>
        <div class="contentContainer">
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataOne"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataTwo"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataThree"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataFour"></app-movie-classification-card>
            <app-movie-classification-card class="classificationCard" [classificationData]="movieDataFive"></app-movie-classification-card>
        </div>
    </div>
    <div class="movieSubSection">
        <h2 class="subSectionHeading">Trending Now</h2>
        <div class="contentContainer">
            <app-movies-info-cards-container class="infoCardsContainer"></app-movies-info-cards-container>
        </div>
    </div>
    <div class="movieSubSection">
        <h2 class="subSectionHeading">New Releases</h2>
        <div class="contentContainer">
            <app-movies-teaser-cards-container class="infoCardsContainer"></app-movies-teaser-cards-container>
        </div>
    </div>
    <div class="movieSubSection">
        <h2 class="subSectionHeading">Must Watch</h2>
        <div class="contentContainer">
            
        </div>
    </div>
</div>