<div class="container">
    <div>
        <app-section-header [headerData]="headerData"></app-section-header>
    </div>
    <div class="contentSection">
        <app-streaming-info-card class="card" [cardData]="cardDataOne"></app-streaming-info-card>
        <app-streaming-info-card class="card" [cardData]="cardDataTwo"></app-streaming-info-card>
        <app-streaming-info-card class="card" [cardData]="cardDataThree"></app-streaming-info-card>
        <app-streaming-info-card class="card" [cardData]="cardDataFour"></app-streaming-info-card>
        <app-streaming-info-card class="card" [cardData]="cardDataFive"></app-streaming-info-card>
        <app-streaming-info-card class="card" [cardData]="cardDataSix"></app-streaming-info-card>
    </div>
</div>