<div class="container">
    <div class="thumbnailsContainer">
        <div>
            <img class="thumbnail" src={{classificationData.images[0]}}/>
        </div>
        <div>
            <img class="thumbnail" src={{classificationData.images[1]}}/>
        </div>
        <div>
            <img class="thumbnail" src={{classificationData.images[2]}}/>
        </div>
        <div>
            <img class="thumbnail" src={{classificationData.images[3]}}/>
        </div>
    </div>
    <div class="textContainer">
        <p>{{classificationData.classificationName}}</p>
        <p class="arrow">&#10140;</p>
    </div>
</div>