.container{
    padding: 0% var(--side-padding);
}

.priceCard{
    width: 30%;
}

.contentSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 700px) {
    .contentSection{
        flex-direction: column;
        align-items: center;
    }

    .priceCard{
        width: 100%;
    }
}