<div class="container">
    <div class="backgroundSection">
        <div class="thumbnailsContainer">
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-1.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-2.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-3.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-4.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-5.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-6.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-7.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/1/Image-8.png"/>
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-1.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-2.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-3.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-4.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-5.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-6.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-7.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/2/Image-8.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-1.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-2.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-3.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-4.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-5.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-6.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-7.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/3/Image-8.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-1.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-2.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-3.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-4.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-5.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-6.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-7.png" />
            </div>
            <div class="movie-thumbnail-container">
                <img class="movie-thumbnail" src="assets/images/homebanner/4/Image-8.png" />
            </div>
        </div>
        <div class="symbolContainer">
            <div class="symbolParent">
                <img src="assets/images/symbol.svg"/>
            </div>
        </div>
    </div>
    <div class="contentSection">
        <div class="contentContainer">
            <h1 class="headingText">The Best Streaming Experience</h1>
            <p>StreamVibe is the best streaming experience for watching your favorite movies and shows on demand, 
            anytime, anywhere. With StreamVibe, you can enjoy a wide variety of content, including the latest 
            blockbusters, classic movies, popular TV shows, and more. You can also create your own watchlists, 
            so you can easily find the content you want to watch.</p>
            <div class="buttonContainer">
                <app-red-media-button [buttonData]="mediaButtonData"></app-red-media-button>
            </div>
        </div>
    </div>
</div>