.container{
    padding: 0% var(--side-padding);
    max-width: 100%;
    position: relative;
    height: 340px;
}

.background{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.backgroundImage{
    max-width: 100%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-family: Manrope-Bold;
    font-size: 44px;
    color: var(--white);
}
