<div class="container">
    <app-movie-teaser-card class="movieCard" [teaserCardData]="movieDataOne"></app-movie-teaser-card>
    <app-movie-teaser-card class="movieCard" [teaserCardData]="movieDataTwo"></app-movie-teaser-card>
    <app-movie-teaser-card class="movieCard" [teaserCardData]="movieDataThree"></app-movie-teaser-card>
    <app-movie-teaser-card class="movieCard" [teaserCardData]="movieDataFour"></app-movie-teaser-card>
    <app-movie-teaser-card class="movieCard" [teaserCardData]="movieDataFive"></app-movie-teaser-card>
</div>