<div>
    <div>
        <p>Home</p>
        <div>
            <a href="#">Categories</a>
            <a href="#">Devices</a>
            <a href="#">Pricing</a>
            <a href="#">FAQ</a>
        </div>
    </div>
    <div>
        <p>Home</p>
        <div>
            <a href="#">Categories</a>
            <a href="#">Devices</a>
            <a href="#">Pricing</a>
            <a href="#">FAQ</a>
        </div>
    </div>
    <div>
        <p>Home</p>
        <div>
            <a href="#">Categories</a>
            <a href="#">Devices</a>
            <a href="#">Pricing</a>
            <a href="#">FAQ</a>
        </div>
    </div>
    <div>
        <p>Home</p>
        <div>
            <a href="#">Categories</a>
            <a href="#">Devices</a>
            <a href="#">Pricing</a>
            <a href="#">FAQ</a>
        </div>
    </div>
    <div>
        <p>Home</p>
        <div>
            <a href="#">Categories</a>
            <a href="#">Devices</a>
            <a href="#">Pricing</a>
            <a href="#">FAQ</a>
        </div>
    </div>
    <div>
        <p>Home</p>
        <div>
            <div>
                <img src="/src/assets/common/fb.svg"/>
            </div>
            <div>
                <img src="/src/assets/common/fb.svg"/>
            </div>
            <div>
                <img src="/src/assets/common/fb.svg"/>
            </div>
        </div>
    </div>
</div>