<div class="container">
    <div>
        <div>
            <app-section-header [headerData]="headerData"></app-section-header>
        </div>
        <div>

        </div>
    </div>
    <div class="contentContainer">
        <app-movie-classification-card class="classificationCard" [classificationData]="movieDataOne"></app-movie-classification-card>
        <app-movie-classification-card class="classificationCard" [classificationData]="movieDataTwo"></app-movie-classification-card>
        <app-movie-classification-card class="classificationCard" [classificationData]="movieDataThree"></app-movie-classification-card>
        <app-movie-classification-card class="classificationCard" [classificationData]="movieDataFour"></app-movie-classification-card>
        <app-movie-classification-card class="classificationCard" [classificationData]="movieDataFive"></app-movie-classification-card>
    </div>
</div>