<div>
    <div>
        <div>
            <h2>Explore our wide variety of categories</h2>
            <p>Whether you're looking for a comedy to make you laugh, a drama 
                to make you think, or a documentary to learn something new</p>
        </div>
        <div>
            
        </div>
    </div>
    <div>
        <app-movie-classification-card [classificationData]="movieDataOne"></app-movie-classification-card>
        <app-movie-classification-card [classificationData]="movieDataTwo"></app-movie-classification-card>
        <app-movie-classification-card [classificationData]="movieDataThree"></app-movie-classification-card>
        <app-movie-classification-card [classificationData]="movieDataFour"></app-movie-classification-card>
        <app-movie-classification-card [classificationData]="movieDataFive"></app-movie-classification-card>
    </div>
</div>